{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Prediccion AEMET<h2>
    <div class="container">
        <script type='text/javascript' src='http://www.aemet.es/es/eltiempo/prediccion/municipios/launchwidget/logrono-id26089?w=g4p01110001ohmffffffw600z151x4f86d9t95b6e9r0s3n2'></script><noscript><a target='_blank' style='font-weight: bold;font-size: 1.20em;' href='http://www.aemet.es/es/eltiempo/prediccion/municipios/logrono-id26089'>El Tiempo. Consulte la predicción de la AEMET para Logroño</a></noscript>
    </div>
  </div>
{% endblock %}
